*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
}
.side-bar{
    background: rgba(255,  255, 255, 0.1); /*saydam bir alan vermek için*/
    backdrop-filter: blur(15px);
    background-color: royalblue;
    width: 300px;
    height: 100vh;
    position: fixed;
    top:0px;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    z-index: 1;
}


@media (max-width: 768px){
    .side-bar{
        width: 100%;
    }
    
}

.side-bar.active{
    left: 0;
}

.side-bar .menu{
    width: 100%;
    margin-top: 50px;
}
.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}
.side-bar .menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 25px;
}
.side-bar .menu .item a:hover{
    background-color: blue;
    color: #fff;
    transition: 0.3 ease;
}

.side-bar .menu .item i{
    margin-left: 10px; /*Açılır menülerin bulunduğu kısım*/
}
/* açılır menu için */
.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
background: rgba(255, 255, 255, 0.1);
display: none;
}

.side-bar .menu .item .sub-menu a{
    padding-left: 80px;
}

.rotate{ /* açılır menü buton yönü */
    transform: rotate(90deg);
}

.close-btn{
    position: absolute;
margin: 25px;
    right: 0px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.menu-btn{
    color: #000;
    font-size: 20px;
    cursor: pointer;
}